{# templates/registration/client_register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Client Registration{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container-fluid bg-primary p-5 mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">Register as Client</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                {{ form_start(ClientRegistration, {'attr': {'class': 'registration-form'}}) }}
                <div class="row g-3">
                    <div class="col-6">
                        {{ form_row(ClientRegistration.nom, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(ClientRegistration.prenom, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(ClientRegistration.email, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(ClientRegistration.telephone, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(ClientRegistration.adresse, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(ClientRegistration.password, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(ClientRegistration.confirm_password, {
                            'attr': {
                                'class': 'form-control bg-light border-0 px-4',
                                'style': 'height: 55px;'
                            }
                        }) }}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                    </div>
                </div>
                {{ form_end(ClientRegistration) }}


            </div>
            <div class="col-lg-6">
                <img src="{{ asset('assets/img/register.jpg') }}"
                     alt="Image Abonnement"
                     class="img-fluid"
                     style="height: 457px; object-fit: cover; border-radius: 10px; margin-left: 100px;">
            </div>
        </div>
    </div>
{% endblock %}
